<div class="container-search">
<%= form_tag bikes_path, method: :get do %>
  <div class='inline'>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a location"
  %>
  </div>
  <div class='inline'>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>
<% end %>
</div>

<div class="container">
   <div class="nav-item" id="index-btn">
    <td><%= link_to 'Create a bike', new_bike_path, { class: "btn btn-primary" } %></td>
  </div>
  <p id="notice"><%= notice %></p>

  <h2>All Bikes for you</h2>

  <br>
  <div class="cards">
      <% @bikes.each do |bike| %>
    <div class="card-bike">
      <% if bike.photo.attached? %>
        <%= cl_image_tag bike.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag 'bike_1.jpg', class: 'bike-image' %>
      <% end %>
        <div class="card-bike-infos" >
          <div >
            <h2 class="card-bike-name"><td> <%= link_to bike.name, bike %></td></h2>
            <p class="left-even"><td><%= bike.location %></td></p>
          </div>
          <h2 class="card-bike-pricing"><%= bike.price_per_day %> €/Day
          </h2>
          <!-- <img src=# class="card-bike-user avatar-bordered" /> -->
        </div>
     </div>
      <% end %>
  </div>
</div>
