<div class="container">
  <h1><%= @bike.name %></h1>

  <div class="box">


    <div>
      <!-- <img src="images/banner1.jpg" alt="bike"> -->
      <div class="image" style="background-image: url('<%= image_path 'banner1.jpg' %>');">
      </div>
        <p>About: <%= @bike.description %></p>
        <h6>Location: <%= @bike.location %>  / $<%= @bike.price_per_day %> per day </h6>
    </div>

<div class="booking-form">
  <%= render 'booking_form' %>
</div>
</div>



<div>
  <%= link_to 'Back to bikes', bikes_path, { class: "btn btn-primary" } %>

</div>
</div>

